    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow-x:hidden;
      }
    </style>


    <!-- White thing -->
<div style="border-bottom:1px solid #00D2FF;background-color:#FFF;overflow-y:hidden;z-index:-100;position:absolute;width:100%;height:70px;left:0%;top:0%">
</div>

<!-- Top color block -->
<div style="border-bottom:1px solid #00D2FF;background-color:#F8F8FF;overflow-y:hidden;z-index:-1000;position:absolute;width:100%;height:470px;left:0%;top:0%">
</div>

<div id="textured-overlay" style="overflow-y:hidden;z-index:-1000;position:absolute;width:100%;height:470px;left:0%;top:0%">
</div>

<!-- Logo -->
<div class="row" style="position:absolute;top:20px">
    <div class="visible-desktop visible-tablet span">
      <span style="color:#666;font-weight:100;font-size:24px;opacity:0.65" class="">
        <i class="icon-plane"></i>&nbsp;<span style="color:#000;letter-spacing:2px;">Twit<span style="font-weight:200">Rep</span></span>
      </span>
    </div>
</div>

<div style="height:445px" id="above-fold" class="container">

  <!-- Sign in button -->
  <div class="row" style="position:absolute;top:24px">

      <% if current_user %>
        <div class="span offset10 dropdown">
          <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown" data-target="#">
            Welcome <img width="30px" src="<%= current_user.profile_image_url %>">&nbsp;<%= current_user.name %>!<%#= link_to "Sign Out", signout_path %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li role="presentation"><%= link_to "My Account", account_users_path %></li>
            <li role="presentation"><%= link_to "My Campaigns", campaigns_users_path %></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><%= link_to "Sign Out", signout_path %></li>
          </ul>
        </div>
      <% else %>
      <div class="span offset10">
        <%= link_to "Sign In With Twitter", "/auth/twitter" %>
      </div>
      <% end %>
  </div>

  <!-- Main copy -->
  <div style="margin-top:35px" id="main-copy" class="container">

    <div style="color:#444" class="row">

      <div style="margin-top:80px;text-align:center" class="span12">
        <p>
          <span style="color:#333;font-size:50px;font-weight:400;font-spacing:10px;line-height:40px">Bump up your Twitter reputation.</span>
        </p>

        <p style="color:#555;margin-top:35px;margin-bottom:33px;font-weight:200;line-height:50px;font-size:28px;">
          <!-- <span>Simple social advertising, for you and your business.</span> -->

          <a style="font-size:21px;" class="feedly-button" href="<%= current_user ? "/users/campaigns" : "/auth/twitter" %>">
            Launch a Free Campaign</span>
          </a>
        </p>
      </div>

    </div>

  </div><!--/main copy-->

</div>

<div id="below-fold" class="visible-desktop visible-tablet container">

    <div style="margin-top:40px" class="row">
    <div class="span4">
        <p style="color:#555;font-weight:200;line-height:50px;font-size:32px;">
          <span>Targeted follower gain.</span>
        </p>
        <p class="lead">
          You Launch campaign(s) and we search you your followers<p>
    </div>

    <div style="overflow-y:none;height:468px;" class="span8">
      <table class="table table-bordered table-hover" id="home-table">
    <thead>
      <tr>
        <th><p class="lead" style="font-size:14px;margin-bottom:0px">Campaigns&nbsp;&nbsp;</p></th>
        <th>
          <p class="lead" style="font-size:14px;margin-bottom:0px">
            <i class="icon-star" style="opacity:0.8"></i>&nbsp;Impressions
            <span title="&lt;b&gt;Impressions&lt;/b&gt;&lt;br&gt;How many times have we favorited tweets about this target?" rel="tooltip" style="cursor:pointer;font-size:14px;opacity:0.6">
            ?
            </span>
          </p>
        </th>
        <th>
          <p class="lead" style="font-size:14px;margin-bottom:0px">
            <i class="icon-refresh" style="opacity:0.8"></i> &nbsp;Conversion
            <span title="&lt;b&gt;Conversion (%)&lt;/b&gt;&lt;br&gt;What % of impressions turn into follows?" rel="tooltip" style="cursor:pointer;font-size:14px;opacity:0.6">
            ?
            </span>
          </p>
        </th>
        <th>
          <p class="lead" style="font-size:14px;margin-bottom:0px">
            <i class="icon-user" style="opacity:0.8"></i>&nbsp;Follows
            <span title="&lt;b&gt;Follows&lt;/b&gt;&lt;br&gt;How many people have followed you as a result of impressions on this target?" rel="tooltip" style="cursor:pointer;font-size:14px;opacity:0.6">
            ?
            </span>
          </p>
        </th>
      </tr>
    </thead>
    <tbody>
     <tr style="color:#707070;font-weight:800">
        <td>Total</td>
        <td>3238</td>
        <td>2.4%</td>
        <td>79</td>
    </tr>
         <tr rel="tooltip-sharing" data-original-title="&lt;i class='icon-group'&gt;&lt;/i&gt;&nbsp;&nbsp;1 user / availability: 12.0">
       <td>
          <div class="input-prepend" style="margin-bottom:0px">
            <span class="add-on">1.</span>
            <input disabled type="text" value="'web development'" placeholder="mashable.com" id="prependedInput" name="targets[0]">
          </div><!--input-->
        </td>
            <td>728</td>
            <td>4.7%</td>
            <td>34</td>
      </tr>


         <tr rel="tooltip-sharing" data-original-title="&lt;i class='icon-group'&gt;&lt;/i&gt;&nbsp;&nbsp;1 user / availability: 25.0">
       <td>
          <div class="input-prepend" style="margin-bottom:0px">
            <span class="add-on">2.</span>
            <input disabled type="text" value="#socialmedia" placeholder="@redbull" id="prependedInput" name="targets[1]">
          </div><!--input-->
        </td>
            <td>1574</td>
            <td>1.6%</td>
            <td>25</td>
      </tr>


         <tr rel="tooltip-sharing" data-original-title="&lt;i class='icon-group'&gt;&lt;/i&gt;&nbsp;&nbsp;1 user / availability: 15.7">
       <td>
          <div class="input-prepend" style="margin-bottom:0px">
            <span class="add-on">3.</span>
            <input disabled type="text" value="mobile hotspot" placeholder="analytics filter:links" id="prependedInput" name="targets[2]">
          </div><!--input-->
        </td>
            <td>936</td>
            <td>2.1%</td>
            <td>20</td>
      </tr>

    </tbody>
  </table>
  <button disabled class="btn" type="submit" onclick="return false;"><i class="icon-save" style="opacity:0.58"></i>&nbsp;Save targets</button>


<a disabled data-toggle="modal" class="btn" role="button" style="margin-left:10px" onclick="return false" href=""><i class="icon-cog"></i>&nbsp;Target Helper</a>

  <button disabled id="" class="btn"><i class="icon-gift"></i>&nbsp;Get more impressions</button>
<div class="row" style="margin-top:20px">
  <div class="span">
    <div class="alert" style="background-color:white">
      <!--<button disabled type="button" class="close" data-dismiss="alert">&times;</button>-->
      Your <span id="next_order">1st</span> of 5 daily campaigns is <strong><span id="next_campaign">tomorrow at 7:30 am</span></strong>
      (<span id="planned_impressions">160</span> impressions).
    </div>
  </div>
 </div>
    </div>

 </div>

</div><!--below the fold-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


      <footer style=" ">
        <hr>

        <div class="row">

          <!-- <div class="span">
            <p>&copy; follow<strong>gen</strong> 2013</p>
          </div>
          <div class="hidden-phone span">
            <p><a href="/users">Influencers (52,041)</a></p>
          </div>
          <div class="hidden-phone span">
            <p><a href="/faq">FAQ</a></p>
          </div>
          <div class="span">
            <p><a href="/contact">Contact</a></p>
          </div> -->
          <!--<div class="span">
            <p><a href="/vignettes">Vignettes</a></p>
          </div>-->

        </div>

      </footer>

    <!-- /container -->
