<!DOCTYPE html>
<html>
<head>
  <title><%= APP_NAME %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

<script type="text/javascript">
  $('.dropdown-toggle').dropdown();

  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $('#myModal1').modal({
    backdrop: 'static',
    keyboard: false
  })
</script>
